@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World! Bem Vindo @Model.Nome</h1>
    <p>Boa Noite Professor, Espero que Goste!</p>
    <span>Essa Avaliação foi feita para a materia de @Model.Professor</span>
</div>
